@media (min-width: 500px) {
  .shopping-cart__container {
    border-bottom: 1px solid #f5eded;
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 4.5px;
    text-align: left;
  }

  .shopping-cart__image img {
    width: 100%;
    height: auto;
    max-width: 80px;
    border-radius: 6px;
  }

  .shopping-cart__description {
    display: flex;
    flex-direction: column;
  }

  .shopping-cart__description :last-child {
    color: #8f8b8b;
  }

  .shopping-cart__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .shopping--cart__not-found {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .total-price {
    background: #c4a7cc;
    color: #fff;
    padding: 0.6rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 499px) {
  .shopping-cart__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    max-width: 820px;
  }

  .shopping-cart__inner img {
    width: 100%;
  }

  .shopping--cart__not-found {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
  .total-price {
    background: #c4a7cc;
    color: #fff;
    padding: 0.6rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 800px) {
  .shopping-cart__container {
    border-bottom: 1px solid #f5eded;
    width: 100%;
    margin: 40px auto;
    padding: 10px;
    border-radius: 4.5px;
    text-align: left;
  }

  .shopping-cart__inner {
    margin: auto;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .shopping-cart__inner img {
    width: 100%;
    max-width: 120px;
    border-radius: 6px;
  }

  .total-price {
    background: #e7b9e1;
    color: rgb(15, 13, 13);
    padding: 0.6rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
